.lead {
  margin: 0 auto;
  width: 100%;
  padding-top: 48px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .lead {
    width: 90.63%;
    max-width: 984px;
  }
}

/* @media screen and (min-width: 1280px) {
  .lead {
    max-width: 984px;
  }
} */
