.cover__subtitle {
  margin: 0;
  height: 100%;
  font-style: normal;
  width: 288px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

/* @media screen and (min-width: 768px) {
  .cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: -126px;
    margin-left: -180px;
  }
} */
