.cover__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .cover__text {
    row-gap: 32px;
  }
}
