.cover__background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  height: calc(100vw / 1.6);
  max-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.cover__background::before {
  content: '';
  background-color: #2a2c2f;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .3;
  transition: opacity .5s ease;
}

.cover__background:hover::before {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .cover__background {
    row-gap: 32px;
  }
}
