.cover__title {
  margin: 0;
  font-style: normal;
  width: 288px;
  height: 100%;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  text-align: center;
}

/* @media screen and (min-width: 768px) {
  .cover__title {
    width: 560px;
    font-size: 72px;
    line-height: 1.05;
    margin-top: -125px;
    margin-left: -280px;
  }
} */
